version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "javascript"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    labels:
      - "ci"
      - "github-actions"

  - package-ecosystem: "docker"
    directory: ".docker"
    schedule:
      interval: daily
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "docker"

