deployment:
  namespace: project-website-stage
  name: project-website-stage
  replicaCount: 1
  image:
    repository: ghcr.io/smartcityflensburg/project-website-stage
    pullPolicy: Always
    tag: 2c30d74
ingress:
  enabled: true
  className: "traefik"
  annotations:
    cert-manager.io/cluster-issuer: cert-manager
    kubernetes.io/ingress.class: traefik
  hosts:
    - name: stage.green-ecolution.de
      paths:
        - path: /
          pathType: Prefix
          backend:
            serviceName: project-website
            servicePort: 80
  tls:
    enabled: true
    secretName: stage-green-ecolution-de-tls
