/* Override default styles from splide slider package */
.splide.splide--grid > .splide__track {
  @apply lg:!pb-7;
}

.splide.splide--grid > .splide__track > .splide__list {
  @apply lg:!grid lg:!grid-cols-2 lg:!gap-x-6 lg:!gap-y-8;
}

/* Staggered card layout for Introduction section */
.splide.splide--grid > .splide__track > .splide__list > .splide__slide:first-child {
  @apply lg:mb-16;
}

.splide.splide--grid > .splide__track > .splide__list > .splide__slide:nth-child(2) {
  @apply lg:mt-16;
}

.splide.splide--grid > .splide__track > .splide__list > .splide__slide:nth-child(3) {
  @apply lg:-mt-16 lg:mb-16;
}

.splide__pagination {
  @apply !bottom-0 lg:!-bottom-4;
}

.splide__pagination .splide__pagination__page {
  @apply !w-2.5 !h-2.5;
}

.splide__pagination .splide__pagination__page.is-active {
  @apply !bg-green-dark-900 !scale-100;
}

.splide__pagination__page:focus-visible {
  @apply !outline !outline-2 !outline-offset-2 !outline-green-light-900;
}
