/* Override default styles from splide slider package */
.splide.splide--grid > .splide__track {
    @apply lg:pb-7 !important;
}

.splide.splide--grid > .splide__track > .splide__list {
    @apply xl:grid xl:grid-cols-2 xl:gap-x-6 xl:gap-y-8 !important;
}

.splide__pagination {
    @apply bottom-0 lg:-bottom-4 !important;
}

.splide__pagination .splide__pagination__page {
    @apply w-2.5 h-2.5 !important;
}

.splide__pagination .splide__pagination__page.is-active {
    @apply bg-green-dark-900 scale-100 !important;
}

.splide__pagination__page:focus-visible {
    @apply outline outline-2 outline-offset-2 outline-green-light-900 !important;
}
