apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "landing-page.fullname" . }}-nginx
  labels:
    {{- include "landing-page.labels" . | nindent 4 }}
data:
  site.conf: |
    {{- if .Values.ingress.primaryDomain }}
    server {
        listen       8080;
        listen  [::]:8080;
        server_name  {{ .Values.ingress.primaryDomain }};

        location /status {
            stub_status on;
            access_log off;
        }

        location / {
            root   /usr/share/nginx/html;
            try_files $uri $uri/ /index.html;
        }
    }

    server {
        listen       8080 default_server;
        listen  [::]:8080 default_server;
        server_name  _;

        location /status {
            stub_status on;
            access_log off;
        }

        location / {
            return 301 https://{{ .Values.ingress.primaryDomain }}$request_uri;
        }
    }
    {{- else }}
    server {
        listen       8080;
        listen  [::]:8080;

        location /status {
            stub_status on;
            access_log off;
        }

        location / {
            root   /usr/share/nginx/html;
            try_files $uri $uri/ /index.html;
        }
    }
    {{- end }}
